version: '3.1'

services:
  postgres:
    image: postgres
    restart: always
    ports:
    - 5432:5432
    networks:
    - hocs-network
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: dev
    tmpfs:
    - /var/lib/postgresql

  keycloak:
    image: jboss/keycloak
    restart: always
    ports:
    - 9990:9990
    - 9081:8080
    networks:
    - hocs-network
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: password1
      KEYCLOAK_IMPORT: /tmp/local-realm.json
      DB_VENDOR: h2
    volumes:
    - ${PWD}/keycloak:/tmp

  localstack:
    image: localstack/localstack:latest
    ports:
      - 9000:8080
      - 4572:4572
      - 4576:4576
      - 4575:4575
    networks:
      - hocs-network
    environment:
      DEFAULT_REGION: eu-west-2
      SERVICES: sqs,s3,sns

    aws_cli:
      image: garland/aws-cli-docker
      networks:
        - hocs-network
      command:
        - /bin/sh
        - -c
        - |
          aws --endpoint-url=http://localstack:4576 sqs create-queue --queue-name audit-queue
          aws --endpoint-url=http://localstack:4576 sqs create-queue --queue-name audit-queue-dlq
          aws --endpoint-url=http://localstack:4576 sqs create-queue --queue-name search-queue
          aws --endpoint-url=http://localstack:4576 sqs create-queue --queue-name search-queue-dlq
          aws --endpoint-url=http://localstack:4572 s3 mb s3://untrusted-bucket
          aws --endpoint-url=http://localstack:4572 s3 mb s3://trusted-bucket
          aws --endpoint-url=http://localstack:4575 sns create-topic --name hocs-audit-topic
          aws --endpoint-url=http://localstack:4575 sns subscribe --topic-arn arn:aws:sns:eu-west-2:123456789012:hocs-audit-topic --protocol sqs --notification-endpoint arn:aws:sns:eu-west-2:123456789012:audit-queue
          aws --endpoint-url=http://localstack:4575 sns subscribe --topic-arn arn:aws:sns:eu-west-2:123456789012:hocs-audit-topic --protocol sqs --notification-endpoint arn:aws:sns:eu-west-2:123456789012:search-queue
          aws --endpoint-url=http://localstack:4575 sns list-subscriptions
      environment:
        AWS_ACCESS_KEY_ID: UNSET
        AWS_SECRET_ACCESS_KEY: UNSET
        AWS_DEFAULT_REGION: 'eu-west-2'
      depends_on:
        - localstack

networks:
  hocs-network: